<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30" verbose="true" strict="true">
  <Properties>
    <Property name="contextName">spring-boot-learn</Property>
  </Properties>
  
  <Appenders>
    <Console name="STDOUT">
    	<!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch）-->
		<ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
      <PatternLayout>
      	<Pattern>%highlight{%date [${contextName}] %level} [%thread] %logger [%file:%line] - %msg%n</Pattern>
      </PatternLayout>
    </Console>
    
    <RollingRandomAccessFile name="ROLLING" fileName="logs/${contextName}.log"
                 filePattern="logs/${contextName}.%d{yyyy-MM-dd}.%i.log.gz"
                 immediateFlush="false">
      <PatternLayout>
        <Pattern>%date [${contextName}] %level [%thread] %logger [%file:%line] - %msg%n</Pattern>
      </PatternLayout>
 	  <!-- daily rollover -->
      <Policies>
	    <OnStartupTriggeringPolicy />
	    <SizeBasedTriggeringPolicy size="50 MB" />
	    <TimeBasedTriggeringPolicy />
	    <!--
	    <TimeBasedTriggeringPolicy  interval="6" modulate="true" />
	    -->
	  </Policies>
	  <!-- keep 14 days' worth of history -->
	  <DefaultRolloverStrategy max="14"/>
    </RollingRandomAccessFile>

  </Appenders>
  
  <Loggers>
	<!-- Spring -->
	<asyncLogger name="org.springframework" level="INFO" includeLocation="true" />
	<!-- Hibernate -->
	<asyncLogger name="org.hibernate" level="INFO" includeLocation="true" />
	<!-- MyBatis -->
	<asyncLogger name="org.apache.ibatis" level="INFO" includeLocation="true" />
	<asyncLogger name="org.mybatis" level="INFO" includeLocation="true" />

    <asyncRoot level="DEBUG" includeLocation="true">
      <AppenderRef ref="STDOUT" />
      <AppenderRef ref="ROLLING" />
    </asyncRoot>
  </Loggers>
</Configuration>